/******************** General styles ***********************/

:root {
    --bg-main: #46473E;
    --main-color: #ffffff;
    --logo-clr: rgb(255, 0, 0);
    --color-black: #000000;
    --player-border: #fffafa;
    --player-nav: #3a423b;
    --color-midnight-blue: #191970;
    --color-disabled: #aaa;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    background: var(--bg-main);
    color: var(--main-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

button, input {
    font-family: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    padding-bottom: 8rem;
}

/********* Logo *********/

.logo {
    margin-top: 2rem;
    text-align: center;
}

.heading {
    font-size: calc(25px + 25 * ((100vw - 320px) / (1920 - 320))); /* 16 получаем отнимая размер шрифта по макету (40px) от минимального размера шрифта (24) */
    letter-spacing: .3rem;
}

.heading--colored {
    font-family: 'Dancing Script', cursive;
    color: var(--logo-clr);
    text-transform: uppercase;
}

.heading--original {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main-color);
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/******* Filter buttons *******/
.tab-filters {
    padding: 2.5rem 1rem;
}

.tabs-filters__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-filter {
    border: none;
    font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
    background-color: var(--main-color);
    padding: 1rem 2.3rem;
    margin-right: 1rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.tab-filter:last-child {
    margin-right: 0;
}

.tab-filter.active {
    background-color: var(--color-black);
    color: var(--main-color);
}

/******* Welcome heading *******/
.welcome {
    margin-bottom: 9rem;
}

@media (min-width: 768px) {
    .welcome {
        margin-bottom: 5rem;
    }
}

.welcome__heading {
    font-size: calc(18px + 20 * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    line-height: 1.6;
    padding: 0 .3rem;
}

/****** Image cover *****/

.image-cover__img {
    margin-top: 5rem;
    margin: auto;
    animation: pulse 1.3s ease-out 1s infinite;
}

/******** video player *********/
.tab-content.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-content.hide {
    display: none;
}

@media (min-width: 768px) {
    .tab-content {
        display: block;
    }

    .container {
        padding: 0 1.5rem;
        margin: 0 auto;
    }

    .tab-content__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .video {
        padding-bottom: 5rem;
    }
}

.video-container {
    max-width: 30rem;
    margin: auto;
    border: 2px solid var(--player-border);
    position: relative;
    height: 100%;
}

@media (min-width: 520px) {
    .video-container {
        max-width: 40rem;
    }
}

@media (min-width: 768px) {
    .video-container {
        flex: 0 1 60%;
        margin-right: 1.5rem;
    }
}

@media (min-width: 992px) {
    .video-container {
        max-width: 100%;
        width: 58rem;
    }
}

@media (min-width: 1400px) {
    .video-container {
        max-width: 100%;
        width: 78rem;
        margin-right: 3.5rem;
    }
}

@media (min-width: 2000px) {
    .video-container {
        width: 100rem;
        margin-right: 10.5rem;
    }
}

.video-container__player {
    width: 100%;
    height: 18rem;
    object-fit: fill;
    cursor: pointer;
}

@media (min-width: 520px) {
    .video-container__player {
        height: 25rem;
    }
}

@media (min-width: 992px) {
    .video-container__player {
        height: 33rem;
    }
}

@media (min-width: 1400px) {
    .video-container__player {
        height: 38rem;
    }
}

@media (min-width: 2000px) {
    .video-container__player {
        height: 51rem;
    }
}

/****** Video player navigation items ******/
.video-container__navigation {
    position: absolute;
    bottom: -17%;
    left: -2px;
    width: 101.4%;
    display: flex;
    align-items: center;
    background-color: var(--player-nav);
    padding: .8rem .8rem;
    border-right: 2px solid var(--player-border);
    border-left: 2px solid var(--player-border);
    border-bottom: 2px solid var(--player-border);
}

@media (min-width: 520px) {
    .video-container__navigation {
        bottom: -13%;
        width: 101.1%;
    }
}

@media (min-width: 992px) {
    .video-container__navigation {
        bottom: -11%;
        width: 100.7%;
    }
}

@media (min-width: 1400px) {
    .video-container__navigation {
        bottom: -9%;
        width: 100.5%;
    }
}

@media (min-width: 2000px) {
    .video-container__navigation {
        bottom: -8%;
        width: 100.6%;
    }
}

.video-container__btns {
    border: none;
    background-color: transparent;
    margin-right: .8rem;
}

@media (min-width: 992px) {
    .video-container__btns {
        margin-right: 1rem;
    }
}

.btn-play {
    margin-left: .5rem;
    margin-right: 1.4rem;
}

@media (min-width: 992px) {
    .btn-play {
        margin-right: 2rem;
    }
}

@media (min-width: 1400px) {
    .btn-play {
        margin-right: 5rem;
        margin-left: 2rem;
    }
}

.btn-play,
.btn-stop {
    color: var(--main-color);
}

@media (min-width: 992px) {
    .btn-stop {
        margin-right: 5rem;
    }
}

@media (min-width: 1400px) {
    .btn-stop {
        margin-right: 3rem;
    }
}

.video-container__video-timing {}

.video-time-passed {
    margin-right: .6rem;
}

@media (min-width: 992px) {
    .video-time-passed {
        margin-right: 1.2rem;
    }
}

.video-container__video-progress {
    width: 15%;
    margin-right: .6rem;
}

@media (min-width: 520px) {
    .video-container__video-progress {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .video-container__video-progress {
        margin-right: 1.2rem;
    }
}

@media (min-width: 2000px) {
    .video-container__video-progress {
        width: 30%;
    }
}

.video-time-total {
    margin-right: .6rem;
}

@media (min-width: 992px) {
    .video-time-total {
        margin-right: 2rem;
    }
}

.video-container__volume-icon {
    margin-right: .3rem;
}

.volume-down {}

@media (min-width: 1400px) {
    .volume-down {
        margin-right: 2rem;
    }
}

.fa-volume-down {}

.video-container__video-volume {
    width: 15%;
    margin-right: .3rem;
}

@media (min-width: 520px) {
    .video-container__video-volume {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    .video-container__video-volume {
        margin-right: 2rem;
    }
}

@media (min-width: 2000px) {
    .video-container__video-volume {
        width: 30%;
    }
}

.volume-up {
    margin-right: .4rem;
}

@media (min-width: 992px) {
    .volume-up {
        margin-right: 2rem;
    }
}

.fa-volume-up {}

.video-container__video-fullscreen {}

.video-icon {}

.fa-expand {}

/****** Video player description items *****/
.video-container__description {
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .video-container__description {
        flex: 0 1 40%;
        margin-top: 0rem;
    }
}

.video-container__description-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem 2rem;
}

@media (min-width: 768px) {
    .video-container__description-body {
        padding: 0rem 0rem;
    }
}

.video-container__description-title {
    font-size: calc(25px + 25 * ((100vw - 320px) / (1920 - 320)));
    font-family: 'Dancing Script', cursive;
    align-self: center;
    letter-spacing: .3rem;
    color: var(--logo-clr);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.video-container__description-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-midnight-blue);
    padding: 2rem 2rem;
    border-radius: 1rem;
    max-width: 30rem;
    margin: 0 auto;
}

@media (min-width: 520px) {
    .video-container__description-list {
        max-width: 100%;
        width: 40rem;
    }
}

@media (min-width: 768px) {
    .video-container__description-list {
        width: 35rem;
    }
}

@media (min-width: 1400px) {
    .video-container__description-list {
        width: 50rem;
        padding: 4rem 2rem;
    }
}

@media (min-width: 2000px) {
    .video-container__description-list {
        width: 60rem;
        padding: 6rem 2rem;
    }
}

.video-container__description-item {
    font-size: calc(20px + 8 * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}

.video-container__description-item:hover {
    transform: scale(1.04);
}

.video-container__description-item span {
    font-size: calc(18px + 7 * ((100vw - 320px) / (1920 - 320)));
    font-family: 'Dancing Script', cursive;
    color: var(--logo-clr);
    margin-right: 1rem;
    text-transform: uppercase;
}

.video-container__description-item:last-child {
    margin-bottom: 0rem;
}

/************** Audio Player  styles *********/
.tab-content {}

.audio {}

.container {}

/* Audio Player */

.audio-player {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .audio-player__body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 25rem;
    }
}

.audio-player__image-cover {
    flex: 0 1 50%;
}

@media (min-width: 768px) {
    .audio-payer__audio-info {
        flex: 0 1 40%;
    }
}

.audio-player__img {
    margin-bottom: 1.2rem;
    margin: auto;
}

.audio-payer__audio-info {
    flex: 0 1 50%;
}

@media (min-width: 768px) {
    .audio-payer__audio-info {
        flex: 0 1 60%;
    }
}

.audio-player__audio-title {
    font-size: calc(24px + 20 * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
}

.audio-player__audio-title span {
    display: block;
    margin-bottom: 1.2rem;
}

.audio-player__audio-title span:last-child {
    margin-bottom: 0rem;
}

.audio-payer__audio-info--colored {
    font-family: 'Dancing Script', cursive;
    color: var(--logo-clr);
    font-size: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.audio-player__song {}

/* Audio player navigation features */

.audio-footer {}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--player-nav);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    z-index: 10;
}

@media (min-width: 768px) {
    .fixed-footer {
        height: 8.3rem;
    }
}

.audio-footer__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .audio-footer__btns {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .audio-footer__btns {
        font-size: 3rem;
    }
}

.audio-footer__btn {
    border: none;
    background-color: transparent;
    color: var(--main-color);
}

.audio-footer__btn--prev {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .audio-footer__btn--prev {
        margin-right: 3rem;
    }
}

.audio-footer__btn--play {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .audio-footer__btn--play {
        margin-right: 3rem;
    }
}

.audio-footer__btn--next {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .audio-footer__btn--next {
        margin-right: 8rem;
    }
}

.audio-footer__audio-time {}

@media (min-width: 992px) {
    .audio-footer__audio-time {
        font-size: 2rem;
    }
}

.audio-footer__audio-time--passed {}

.audio-footer__audio-progress {
    width: 10rem;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    margin: 12px 0;
    cursor: pointer;
    margin: 0 1.2rem;
}

@media (min-width: 768px) {
    .audio-footer__audio-progress {
        width: 40rem;
        margin: 0 2.2rem;
    }
}

@media (min-width: 1400px) {
    .audio-footer__audio-progress {
        width: 50rem;
        margin: 0 2.2rem;
    }
}

.audio-footer__audio-progress-timing {
    background-color: var(--logo-clr);
    border-radius: 3px;
    width: 0%;
    height: 100%;
    -webkit-transition: width 0.1s linear;
    transition: width 0.1s linear;
}

.audio-footer__audio-time--total {}

/********** Radio Player ******/

.tab-content {}

.radio {}

.container {
    padding: 0 0.7rem;
}

@media (min-width: 992px) {
    .container {
        padding: 0 1.7rem;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 0 4rem;
    }
}

.tab-content__container {}

/* Radio player title */
.radio-player {}

@media (min-width: 768px) {
    .radio-player {
        margin-bottom: 3rem;
    }

    .radio-player__container {
        padding: 0 3rem;
    }

    .radio-player__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .radio-player {
        margin-bottom: 4rem;
    }

    .radio-player__container {
        max-width: 85rem;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .radio-player__container {
        max-width: 112rem;
    }
}

@media (min-width: 2000px) {
    .radio-player__container {
        max-width: 114rem;
    }
}

.radio-player__image-cover {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .radio-player__image-cover {
        flex: 0 1 29%;
        margin-bottom: 0rem;
    }
}

@media (min-width: 992px) {
    .radio-player__image-cover {
        flex: 0 1 50%;
    }
}

.audio-pradio__img {
    margin: 0 auto;
}

.radio-player__audio-title-box {
    /*width: 100%; */
}

@media (min-width: 768px) {
    /*.radio-player__audio-title-box {
        width: 47%;
    } */
}

.radio-player__audio-title {
    font-size: calc(17px + 17 * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .radio-player__audio-title {
        margin-bottom: 0rem;
    }
}

/* Radio player list  */
.radio-stations {}

.radio-stations__title {
    font-size: calc(16px + 17 * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    color: var(--logo-clr);
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .radio-stations__title {
        margin-bottom: 4rem;
    }
}

.radio-stations__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .radio-stations__list {
        margin-bottom: 3rem;
    }
}

.radio-stations__item {
    text-align: center;
    margin-bottom: 1rem;
    margin-right: .6rem;
}

@media (min-width: 992px) {
    .radio-stations__item {
        margin-right: 1.7rem;
    }
}

.radio-stations__item:last-child {
    margin-bottom: 0rem;
    margin-right: 0rem;
}

.radio-item.select .radio-stations__image-cover {
    border: 5px solid --bg-main;
}

.radio-stations__item input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.radio-stations__item:hover .radio-stations__label {
    color: var(--logo-clr);
}

.radio-stations__item:hover .radio-stations__image-cover {
    border: 5px solid var(--logo-clr);
}

.radio-stations__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.radio-stations__image-cover {
    width: 14rem;
    height: 14rem;
    border: 5px solid transparent;
    border-radius: 50%;
    transition: border .25s linear;
    margin-bottom: .9rem;
}

.radio-stations__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.radio-stations__btn-select {}

.radio-stations__name {
    font-size: calc(16px + 16 * ((100vw - 320px) / (1920 - 320)));
    font-family: 'Dancing Script', cursive;
}

/* Radio player navigation features*/
.fixed-footer {}

.radio-footer {}

.radio-footer__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .radio-footer__navigation {
        font-size: 3rem;
    }
}

@media (min-width: 1400px) {
    .radio-footer__navigation {
        font-size: 5rem;
    }
}

.radio-footer__btn {}

.btn-stop {
    border: none;
    background-color: transparent;
    margin-right: 1.4rem;
}

.btn-stop.disabled {
    color: var(--color-disabled);
    opacity: .3;
}

@media (min-width: 768px) {
    .btn-stop {
        margin-right: 4rem;
    }
}

.radio-footer-icon {}

.radio-footer-volume {
    margin: 0 1rem;
}

@media (min-width: 520px) {
    .radio-footer-volume {
        width: 26rem;
    }
}

@media (min-width: 768px) {
    .radio-footer-volume {
        width: 30rem;
        margin: 0 2rem;
    }
}

.radio-footer-volume-up {
    margin-right: 2rem;
}

@media (min-width: 768px) {
    .radio-footer-volume-up {
        margin-right: 4rem;
    }
}

.radio-footer-mute {}
